@import "./variables.scss";

.auth-page {
  padding: 1em 0;
  height: convert(100vh, em) - calc($default-padding);
  display: grid;
  place-items: center;
}
.auth-container {
  min-width: 400px;
  //   padding: $default-padding;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-header {
  display: grid;
  place-items: center;
}

#register-auth-container .form-container{
  margin:0.5em 0;
}
.form-container {
  margin: 1em 0;
}
.form-container label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: smaller;
  color: inherit;
}
.form-container input,select {
  height: 40px;
  width: 100%;
  padding: 0.5em;
  border-radius: 7px;
  border: 1.5px solid black;
  font-weight: 500;

  &:focus {
    border: 2px solid black;
  }
  &::placeholder {
    font-size: smaller;
  }
}
button {
  cursor: pointer;
}
.form-header,
.form-footer {
  padding: $default-padding $default-padding;
}
.auth-container .form-container {
  padding: $default-padding/3 $default-padding;
}
.icon-container {
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.form-header .icon-container {
  background-color: $secondary-color;
  color: white;
  width: 50px;
  height: 50px;

  i {
    font-size: 1.5em;
  }
}
.form-header p{
  font-size: 0.8em;
  font-weight: 600;
}
.form-header em{
  color: $secondary-color;
  text-decoration: none;
}
.form-header-title {
  margin-top: 0.5em;
  font-size: 1.2em;
}
.form-container button {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: $primary-color;
  color: white;
  font-weight: 500;
}
.form-footer {
  display: grid;
  place-items: center;
  margin-top: 2em;
}
.form-footer p {
  font-size: small;
}
.form-footer a {
  font-weight: 600;
  color: $primary-color;
}
.form-error {
  color: red;
  margin: 0.2em 0;
  font-size: small;
}
.auth-info-container {
  padding: 1em;
  font-size: small;
  font-weight: 500;
  display: flex;
  align-items: center;
  i {
    display: inline;
    margin-right: $default-padding/2;
  }
}
.auth-error {
  background-color: rgba(255, 0, 0, 0.122);
  color: red;
}
.auth-success {
  background-color: rgba(0, 128, 0, 0.193);
  color: green;
}
.form_error {
  color: red;
}
.error-border{
  border: 2px solid red;
}
.success-border{
  border: 2px solid green;
}

.forgot-password-text{
  font-size: smaller;
  font-weight: 500;
  
  a{
    color: $primary-color;
    font-weight: 600;
  }
}
.form-info{
  color: grey;
  font-size: 0.65em;
  font-weight: 500;
  margin-top: 0.5em;
}
.medium_image{
  height: 6em;
  
}
#pending_approval_image{
  margin: 1em auto;
  display: block;
  
}
#approval-form .form-header{
  display: flex;
  justify-content: space-between;
}
#approval-form{
  margin: 2em;
}
.tab_button{
  border: none;
  
  width: max-content;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  color: grey;
  cursor: pointer;
  outline: none;
  &::after{
    content: "";
    display: block;
    width: auto;
    height: 1.7px;
    background-color: $primary-color;
    transition: width 0.3s ease-in-out;
  }
  &.active{
    color: $primary-color;
   
    font-weight: 600;

  }
}