@import './variables.scss';
.modal-container{
    width: 99vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(128, 128, 128, 0.251);
    backdrop-filter: blur(2%);
    display: grid;
    place-items: center;
}
.modal{
    background-color: white;
    padding: $default-padding;
    width: fit-content;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 2em;
}
.modal-header{
    margin-bottom: 2em;
}
#modal-logout-buttons{
    justify-content: space-between;
}
.text-btn{
    border:none;
    background-color: inherit;
    text-decoration: underline;
    font-weight:bold;
}
.primary-color{
    color: $primary-color;
}